[[local|localrc]]
ADMIN_PASSWORD={{ grains['admin_pw'] }}
DATABASE_PASSWORD={{ grains['db_pw'] }}
RABBIT_PASSWORD={{ grains['rabbit_pw'] }}
SERVICE_PASSWORD={{ grains['svc_pw'] }}
SERVICE_TOKEN={{ grains['token'] }}

# Logging
LOGFILE=$DEST/logs/stack.sh.log
LOGDAYS=1
