{% from "config/map.jinja" import config with context %}

production:
  db_key_base: {{ salt['pillar.get']('config:lookup:db_key_base:production') }}
development:
  db_key_base: {{ salt['pillar.get']('config:lookup:db_key_base:development') }}
test:
  db_key_base: {{ salt['pillar.get']('config:lookup:db_key_base:test') }}
